{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>


        .container-custom {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            flex-direction: column;
            text-align: center;
            background: linear-gradient(to top, black, rgba(128, 128, 128, 90%));
            padding: 0 20px;
        }

        .form-container {
            width: 100%;
            max-width: 400px;
            background-color: rgba(240, 240, 240, 0.71);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .form-container h2 {
            margin-bottom: 20px;
        }

        .form-container p {
            margin-top: 20px;
        }

        #login-link {
            color: #000000;
            text-decoration: underline;
            cursor: pointer;
        }

        #login-link:hover {
            color: #1a1a1a;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="container-custom">
        <div class="form-container">
            <h2>Sign Up</h2>
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.nume) }}
                {{ form_widget(form.nume, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nume) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.mail) }}
                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.mail) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.parola) }}
                {{ form_widget(form.parola, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.parola) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.birth_day) }}
                {{ form_widget(form.birth_day, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.birth_day) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.gender) }}
                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.gender) }}
            </div>

            {{ form_end(form) }}
            <p>Already have an account? <a id="login-link" href={{ path("app_login") }} >Sign In</a></p>
        </div>
    </div>


{% endblock %}
