{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .container-custom {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
        }

        .btn-custom {
            width: 200px;
            margin-bottom: 20px;
        }

        .form-container {
            width: 50%;
            display: none;
        }

        #add-signup-btn{
            background: linear-gradient(to left, #000000, #ffcc00);
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-custom">
        <button class="btn btn-primary btn-custom" id="add-signup-btn">Adaugă User</button>

        <div id="user-form" class="form-container">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.nume) }}
                {{ form_widget(form.nume, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nume) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.mail) }}
                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.mail) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.parola) }}
                {{ form_widget(form.parola, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.parola) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.birth_day) }}
                {{ form_widget(form.birth_day, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.birth_day) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.gender) }}
                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.gender) }}
            </div>
{#            <button type="submit" class="btn btn-primary btn-custom" id="add-signup-btn"></button>#}
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        document.getElementById('add-signup-btn').addEventListener('click', function() {
            var form = document.getElementById('user-form');
            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        });
    </script>
{% endblock %}
